@model List<Northwind.To.EF.MVC.Models.EmployeeView>

@{
    ViewBag.Title = "Employee Page";
}
<h1>Pagina de empleados - Index</h1>

<div class="row" style="text-align:right;padding:5px">
    @Html.ActionLink("Agregar", "Insert","Employee", new { @class = "btn btn-primary"})
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">ROL</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
        <tr>
            <th scope="row">@empleado.Id</th>
            <td>@empleado.LastName</td>
            <td>@empleado.FirstName</td>
            <td>@empleado.Title</td>
            <td>
                
                    <a class="btn btn-warning" href="@Url.Action("Update", new { id = empleado.Id })">Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = empleado.Id })" onclick="return confirm('¿Está seguro de borrar?');">Eliminar</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>


