@model List<Northwind.To.EF.MVC.Models.RickAndMortyViewModel>

@{
    ViewBag.Title = "Rick and Morty API";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container mt-4">
        <h2>Consumiendo API Rick and Morty</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Especie</th>
                    <th>Género</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in Model)
                {
                    <tr>
                        <td>@character.name</td>
                        <td>@character.status</td>
                        <td>@character.species</td>
                        <td>@character.gender</td>
                        <td><img src="@character.image" class="img-fluid"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
